/*
body {
    background: url(img/bg.png) no-repeat;
    background: #333;
}
*/
body {
    margin: 0;
/*    background: url(img/bg.png) no-repeat;*/
    background: #b0c7e7!important;
    padding: 0;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}
input,button,textarea:focus {
    outline: none!important;
}
/*HEADER*/
.header {
    padding-top: 30px;
}
.header__icon {
    max-width: 60px;
    max-height: 60px;
}
.header__qr {
    padding-top: 15px;
}
/*CONTENT*/
.content__block {
    background-color: #d7e3f3;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}
/*
.content__block:hover  {
    display: none;
}
*/
.content {
    padding-top: 40px;
}
.content__title {
    font-size: 24px;
    font-weight: 500;
    padding-top: 15px;
    color: black;
}
.suvenir {
    font-size: 10px;
    padding-top: 150px;
    text-align: center;
    display: none;
}
.content__data {
    padding-top: 10px;
}
.content__img {
    border: 2px solid #bacfe4;
}
.content__date {
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.content__number {
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    color: black;
}
.content__painting {
    padding-left: 15px;
    max-width: 70px;
    max-height: 70px;
    padding-top: 20px;
}
.content__hr {
    color: #adbdd6;
    height: 2px;
}
.name {
    font-size: 21px;
    font-weight: 500;
    color: black;
}
.content__setting {
    max-width: 25px;
    max-height: 25px;
    position: relative;
    top: 60px;

}
.content-padding {
    padding-bottom: 15px;
}
.content__uppdate {
    font-size: 14px;
    padding-top: 15px;
}
.content__dots {
    max-width: 40px;
    max-height: 20px;
    padding-top: 12px;
}
.menu {
    padding-top: 30px;
}
.menu__img {
    max-width: 21px;
    max-height: 25px;
}
.menu__title {
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}
.menu__data {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
}
.menu__services {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 500;
}
.menu__notification {
    padding-top: 6px;
    font-size: 14px;
    font-weight: 500;
}
.menu__submenu {
    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
}
.back {
    background-color: #d7e3f3;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
}
.qr {
    max-width: 230px;
    max-height: 230px;
}
.qr-block {
    padding-top: 50px;
}
.p-10 {
    padding-top: 30px;
}
.back-qr {
    max-width: 40px;
}
/*
.qr-text {
    font-size: 12px;

}
*/
.grid {
    display: grid;
}
.content__title-back {
    font-size: 12px;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 10px;
    color: black;
}